[submodule "sipXrouter"]
	path = sipXrouter
	url = https://github.com/sipfoundry/sipXrouter
[submodule "sipXconfig"]
	path = sipXconfig
	url = https://github.com/sipfoundry/sipXconfig
[submodule "sipXmedia"]
	path = sipXmedia
	url = https://github.com/sipfoundry/sipXmedia
[submodule "sipXphones"]
	path = sipXphones
	url = https://github.com/sipfoundry/sipXphones
